body {
    background-color: yellow;
    font-family: 'Comic Sans MS';
}

h1 {
    background-color: lime;
    color: red;
    font-size: 40px;
    text-align: center;
    border: 5px dashed blue;
}

h2 {
    background-color: pink;
    color: orange;
    font-size: 30px;
    text-align: left;
    text-decoration: underline;
}

p {
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 20px;
    margin: 30px;
    border: 5px dotted green;
}

ul {
    background-color: cyan;
    font-size: 25px;
    text-align: right;
}

ol {
    background-color: brown;
    color: white;
    font-size: 22px;
}

table {
    border: 10px solid red;
    font-size: 20px;
}

th {
    background-color: orange;
    color: blue;
}

td {
    background-image: url(cher.jpg);
    background-size: cover;
    -webkit-text-stroke: 2px pink;
}

img {
    width: 500px;
    height: 100px;
    border: 8px double black;
}